@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    user-select: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #646464;
  }

body{
    background: #0e0e0e;
}

.intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    font: 25px 'Poppins';
    font-weight: bold;
    color: #e2e2e2;
}
#msg{
    text-align: center;
    opacity: 0;
}

.fadeEff{
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#tutorial{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vh;
    background: #1a1a1a;
    color: white;
    padding: 2%;
    font-family: 'Poppins';
    border-radius: 10px;
    animation: openFrame 1.5s;
    overflow-y: auto;
}
@keyframes openFrame {
    0% {
        width: 0vw;
        height: 0vh;
    }
    100% {
        width: 70vw;
        height: 70vh;
    }
}

#tutorial p:nth-child(1){
    font-size: 34px;
    font-weight: bold;
}
#tutorial p:nth-child(2){
    margin-top: 20px;
    color: #d4d4d4;
    font-size: 13px;
    font-weight: normal;
}

.loading{
    position: absolute;
    z-index: 10;
    bottom: 2%;
    left: 50%;
    transform: translate(-3%, -50%);
    width: 20px;
    height: 20px;
    /* border: 1px solid red; */
}
.loading .anim{
    background: url('assets/loadDot.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    animation: loadDot 3s ease;
    animation-iteration-count: infinite;
}

@keyframes loadDot {
    0% {
        opacity: 0.6;
        width: 10px;
        height: 10px;
    }
    50% {
        opacity: 1;
        width: 20px;
        height: 20px;
    }
    100% {
        opacity: 0.6;
        width: 10px;
        height: 10px;
    }
}

.preview{
    z-index: 15;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    opacity: 0.3;
    font: 15px 'Poppins';
    font-weight: bold;
}